*{box-sizing: border-box;
    margin:0.0em;
    padding:0.0em
} 
*{
    font-family:"Roboto Mono",monospace;
    font-size: 1.15rem;
    background-color: #2a2f3d;
    color: white;
}

.italic{
    font-style: italic;
}
.indented{
    margin-left: 5em;
}
.ul{
    list-style-type:circle;
}

.centre{
   text-align: center;
}

.strong{
    font-weight:bolder;
}