*{box-sizing: border-box;
    margin:0.0em;
    padding:0.0em
} 
body{
    background-color:darkgray;
}
.reference{font-style:italic;padding:1em;border:1px solid aqua;margin:1em;}

.text{font-style:normal;padding:1em;border:1px solid aqua;margin:1em;}

.italic{
    font-style: italic;
}

.ul{
    list-style-type:circle;
    margin: 0em;
    padding: 0em;
}

.centre{
   text-align: center;
}

.strong{
    font-weight:bolder;
}