*{box-sizing: border-box;
    margin:0.0em;
    padding:0.0em
} 
*{
    font-family:"Roboto Mono",monospace;
    font-size: 1.15rem;
    background-color: #2a2f3d;
    color: white;
    text-align: center;
}

.italic{
    font-style: italic;
}

.strong{
    font-weight:bolder;
}